bin/
obj/
.vs/
.vscode/
.idea/
node_modules/
dist/
coverage/
logs/
*.user
*.suo
*.local
.DS_Store
appsettings.Development.local.json
.env
.env.*
!.env.example
data/
shared
.react-router
build/

*.csproj.lscache